$red: #f00;
$white: #fff;
$black: #000;

/* Import zonder overwrite */
@import 'import/snippets/button';

/* Import met enkele overwrite */
$button-background-color: $red;
@import 'import/snippets/button';

/* Import met meerdere overwrites */
$button-background-color: $white;
$button-text-color: $black;
@import 'import/snippets/button';
