@import 'media/responsive';

.main {
  width: 100%;
  @media screen and (min-width: 300px) {
    width: percentage( 1 / 2 );
  }

  @include respond-min(600px) {
    width: percentage( 2 / 3 );
  }
}
.sidebar {
  width: 100%;
  @media screen and (min-width: 300px) {
    width: percentage( 1 / 2 );
  }

  @include respond-min(600px) {
    width: percentage( 1 / 3 );
  }
}
