$error-color: #f00;
$info-color: #0f0;

.error {
    width: percentage(1 / 3);
    padding: random(20px) + px;
    color: darken($error-color, 10);
    border: 1px solid complement($error-color);
    background: mix($error-color, $info-color, 50);
}
